@charset "UTF-8";

/* fluid images */
img {
	max-width: 100%;
	height: auto;
}

.default {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: normal;
	font-style: normal;
	font-size: 22px;
	line-height: 1;
}

h1 {
	font-weight: normal;
	font-size: 35px;
	line-height: 1;
}

h2 {
	font-weight: normal;
	font-size: 22px;
	line-height: 0.5;
}

.normal {font-size: 22px;}

.crop {
	max-width: 100%
    width: 400px;
    height: 350px;
	overflow: hidden;
}
.crop img {
	/* 420x610 */
    width: 400px;
    height: 350px;
	margin: 0px 0 0 50px;
}


/* header */
.header {

}


/* footer */
.footer {

}


.snsButton {
	float: left;
	margin: 0.5em;
}



